html {
    font-family: 'Hero', Helvetica, sans-serif;
}

.header {
    color: white;
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero-section {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;
    gap: 30px;
}

.hero-section .hero {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: flex-start;
}

.hero-section .placeholder {
    display: flex;
    height: 200px;
    width: 300px;
    background-color: rgb(109, 112, 128);
    align-items: center;
    justify-content: center;
}

.media-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media-section .media-cluster {
    display: flex;
    gap: 30px;
}

.media .placeholder{
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.media {
    max-width: 100px;
}